<% @page_header = "Editing Challenge" %>

  <%= render 'form' %>

<div class="container col-sm-offset-3 col-sm-6">

  <%= link_to 'Show', @challenge, class: "btn btn-default" %> |
  <%= link_to 'Back', challenges_path, class: "btn btn-default" %>
</div><!-- container -->
